include apartments-item.pug

mixin apartments
    +b.apartments#apartments
        +b.apartments-content.container
            +b.apartments-slider
                +apartments-item
                +apartments-item