mixin footer
	+b.FOOTER.footer#footer
		+b.footer-inner.inner-block.container
			+b.NAV.nav-menu
				+b.A.logo
					+e.IMG.img(src="./img/logo.svg")

				+b.UL.footer-menu.menu-list
					+e.LI.item Философия клуба
					+e.LI.item Планировки
					+e.LI.item Услуги
					+e.LI.item Инфраструктура марины
					+e.LI.item Контакты
					

			