mixin infrastructure
    +b.infrastructure
        +e.back-gradient.back-gradient
        +b.infrastructure-content.container
            +b.contacts-title
                +e.P.title infrastructure
            +b.infrastructure-links
                +b.A.infrastructure-link.links_green.link-beach#beach
                    +e.IMG.img(src="./img/beach.svg")
                +b.A.infrastructure-link.links_green.link-cran-one#cran
                    +e.IMG.img(src="./img/cran.svg")
                +b.A.infrastructure-link.links_green.link-cran-two#cran
                    +e.IMG.img(src="./img/cran.svg")
                +b.A.infrastructure-link.links_green.link-garage#garage
                    +e.IMG.img(src="./img/garage.svg")
                +b.A.infrastructure-link.links_green.link-restaurant#restaurant
                    +e.IMG.img(src="./img/restaurant.svg")
                +b.A.infrastructure-link.links_green.link-apart#apart
                    +e.IMG.img(src="./img/key.svg")
                +b.A.infrastructure-link.links_green.link-transport#transport
                    +e.IMG.img(src="./img/transportation.svg")
                +b.A.infrastructure-link.links_green.link-car#car
                    +e.IMG.img(src="./img/car.svg")
                +b.A.infrastructure-link.links_green.link-yacht-one#yacht
                    +e.IMG.img(src="./img/yacht.svg")
                +b.A.infrastructure-link.links_green.link-yacht-two#yacht
                    +e.IMG.img(src="./img/yacht.svg")
                +b.A.infrastructure-link.links_green.link-serv#serv
                    +e.IMG.img(src="./img/service.svg")
        +b.infrastructure-info
            +b.infrastructure-info-item.beach
                +e.P.title.small_title beach
                +e.P.description.regular_font это уникальный в Украине проект для любителей яхтинга и сторонников отдыха на воде, где сочетаются функциональность и выразительная архитектурная красота марины в акватории Черного моря
            +b.infrastructure-info-item.cran
                +e.P.title.small_title cran
                +e.P.description.regular_font это уникальный в Украине проект для любителей яхтинга и сторонников отдыха на воде, где сочетаются функциональность и выразительная архитектурная красота марины в акватории Черного моря
            +b.infrastructure-info-item.garage
                +e.P.title.small_title garage
                +e.P.description.regular_font это уникальный в Украине проект для любителей яхтинга и сторонников отдыха на воде, где сочетаются функциональность и выразительная архитектурная красота марины в акватории Черного моря
            +b.infrastructure-info-item.restaurant
                +e.P.title.small_title restaurant
                +e.P.description.regular_font это уникальный в Украине проект для любителей яхтинга и сторонников отдыха на воде, где сочетаются функциональность и выразительная архитектурная красота марины в акватории Черного моря
            +b.infrastructure-info-item.apart
                +e.P.title.small_title apart
                +e.P.description.regular_font это уникальный в Украине проект для любителей яхтинга и сторонников отдыха на воде, где сочетаются функциональность и выразительная архитектурная красота марины в акватории Черного моря