mixin main_screen 
	+b.main
		+e.back-gradient.back-gradient
		+b.main-content.inner-block.container
			+e.A.key-link.key-link-one.links_green(href="#apartments")
			+e.A.key-link.key-link-two.links_green(href="#apartments")
			+b.main-info
				+e.H1.title Яхт-клуб Совиньон
				+e.P.subtitle.regular_font Уникальный в Украине проект для любителей яхтинга и сторонников отдыха на воде, где сочетаются функциональность красота
				+e.A.btn.btn_default(href="#footer") ПОДРОБНЕЕ
			+b.progress.progress-slider
				+b.progress-item
					+e.P.num 10
					+e.P.description.small_font АПАРТЕМЕНТОВ 9 В ПРОДАЖЕ
				+b.progress-item
					+e.P.num 10
					+e.P.description.small_font АПАРТЕМЕНТОВ 9 В ПРОДАЖЕ
				+b.progress-item
					+e.P.num 10T
					+e.P.description.small_font АПАРТЕМЕНТОВ 9 В ПРОДАЖЕ
				+b.progress-item
					+e.P.num 10
					+e.P.description.small_font АПАРТЕМЕНТОВ 9 В ПРОДАЖЕ
				