mixin second-card-item
    +b.second-card-item
        +e.back-gradient.back-gradient
        +b.card-item-content
            +e.IMG.img(src="./img/surf.svg")
            +e.H4.title.small_title наша стихия море
            +e.P.desccription.small_font Мы - Клуб единомышленников. Именно поэтому, мы создали профессиональную марину на берегу Черного моря в нашей любимой Одессе, досконально продумав все до мелочей: безопасность, инфраструктуру, комфорт