include services-item.pug

mixin services
    +b.services
        +b.services-content.container.inner-block
            +b.services-title
                +e.P.title УСЛУГИ КЛУБА
            +b.services-items   
                +services-item
                +services-item
                +services-item
                +services-item
                +services-item
                +services-item